*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #03314B; }

.heading_secondary {
  font-family: 'Recursive', sans-serif;
  font-size: 3rem;
  align-self: center; }
  .heading_secondary span {
    color: #000000; }
  .heading_secondary_center {
    font-size: 3rem;
    align-self: center;
    text-align: center; }

.ad_section_content {
  padding: 0 15rem 0 15rem; }
  .ad_section_content_heading span {
    color: #1775FC; }
  .ad_section_content_para {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin-top: 3rem; }

.btn {
  background: #2CDE80;
  border-radius: 3px;
  text-align: center;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.7rem; }
  .btn:hover {
    background-color: #20BA68; }

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 4.6rem;
  border-radius: .4rem;
  overflow: hidden;
  border: 1px solid #bac8ce; }
  .card_image img {
    width: 100%; }
  .card_text {
    background: #ffffff;
    padding: 3rem 1.5rem;
    flex-grow: 1; }
    .card_text_header {
      font-size: 1.9rem;
      font-weight: 700;
      margin-bottom: 1rem; }
    .card_text_writer {
      font-size: 1.5rem;
      font-weight: 500;
      color: #6d787e;
      margin-bottom: 1rem; }
    .card_text_details {
      display: flex;
      justify-content: space-between;
      font-size: 1.3rem;
      font-weight: 300;
      color: #3a4649; }

.offer_section_content_info_timeline {
  font-size: 2rem; }

.offer_section_content_info_details {
  background: #D7E9FF;
  padding: 2.5rem;
  border-radius: 3px;
  padding: 2.7rem; }
  .offer_section_content_info_details p {
    font-size: 1.6rem;
    color: #3A4649;
    flex: 2;
    justify-self: center;
    padding-right: 1.9rem; }
    .offer_section_content_info_details p span {
      font-weight: bold; }
  .offer_section_content_info_details a {
    flex: 1;
    padding: 1rem; }

.feature_section_content_para_1, .feature_section_content_para_2, .feature_section_content_para_3 {
  display: flex;
  flex-direction: column; }
  .feature_section_content_para_1_image, .feature_section_content_para_2_image, .feature_section_content_para_3_image {
    width: 35%;
    align-self: center;
    margin-bottom: 3.5rem;
    border: 2px solid #ffffff; }
  .feature_section_content_para_1_heading, .feature_section_content_para_2_heading, .feature_section_content_para_3_heading {
    font-family: 'Recursive', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    align-self: center;
    margin-bottom: 1.5rem; }
  .feature_section_content_para_1_text, .feature_section_content_para_2_text, .feature_section_content_para_3_text {
    font-weight: 300;
    font-size: 1.9rem;
    text-align: center;
    color: #3A4649; }

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5000;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }

.main_popup {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-content: space-evenly; }

.slider_section {
  padding-top: 5rem; }
  .slider_section_content_title_header {
    font-family: 'Recursive', sans-serif;
    font-size: 3.3rem;
    line-height: 1.1;
    align-self: flex-start;
    flex: 1; }
    .slider_section_content_title_header_content {
      margin-bottom: 4rem; }
    .slider_section_content_title_header::after {
      content: "";
      display: block;
      width: 6.25rem;
      height: .325rem;
      background: #2CDE80; }
  .slider_section_content_title_para {
    flex: 1;
    font-size: 2rem;
    font-weight: 300;
    padding-left: 1rem; }

.slider_div {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
  margin-top: 5rem; }
  .slider_div_header {
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 1.9rem; }
    .slider_div_header span {
      color: #2CDE80; }
  .slider_div_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 3rem; }

.footer {
  min-height: 40vh;
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  grid-template-rows: 1fr .3fr;
  margin: auto;
  background: #F1F6F4; }
  .footer_content_1 {
    display: flex;
    flex-direction: column;
    grid-area: 1/2/2/3; }
    .footer_content_1_top {
      display: grid;
      grid-template-columns: 1fr 1.4fr;
      grid-template-rows: 20% 1fr 1fr;
      margin-bottom: 6rem;
      min-height: 20vh; }
      .footer_content_1_top_logo {
        grid-area: 2/1/3/2;
        display: flex;
        justify-content: flex-start; }
        .footer_content_1_top_logo_content {
          display: flex;
          height: 80%;
          width: 40%; }
      .footer_content_1_top_header {
        grid-area: 3/1/4/2;
        font-size: 2.5rem;
        color: #1775FC; }
      .footer_content_1_top_list {
        grid-area: 2/2/4/3;
        display: grid;
        grid-template-columns: 1.4fr 1fr 1fr; }
        .footer_content_1_top_list_info_header {
          font-size: 1.5rem; }
        .footer_content_1_top_list_info ul {
          list-style: none;
          margin-top: 1.6rem; }
          .footer_content_1_top_list_info ul li {
            line-height: 2; }
            .footer_content_1_top_list_info ul li a {
              font-size: 1.4rem;
              font-weight: 300;
              text-decoration: none;
              color: #3A4649; }
              .footer_content_1_top_list_info ul li a:hover {
                color: #1775FC; }
    .footer_content_1_mid {
      display: flex;
      align-self: flex-start; }
      .footer_content_1_mid_2, .footer_content_1_mid_3 {
        margin-left: 1.9rem; }
  .footer_content_2 {
    grid-area: 2/2/3/3; }
    .footer_content_2_bottom {
      display: grid;
      grid-template-columns: 1.3fr .7fr;
      margin-top: 2rem; }
      .footer_content_2_bottom_menu {
        grid-area: 1/1/2/2; }
        .footer_content_2_bottom_menu ul {
          list-style: none;
          display: flex;
          margin-right: 1rem; }
          .footer_content_2_bottom_menu ul li {
            font-size: 1.4rem;
            font-weight: 400;
            align-content: center; }
            .footer_content_2_bottom_menu ul li:not(:last-child):after {
              content: "|";
              margin: 0 1rem; }
            .footer_content_2_bottom_menu ul li a {
              text-decoration: none;
              color: #3A4649; }
              .footer_content_2_bottom_menu ul li a:hover {
                color: #1775FC; }
      .footer_content_2_bottom_logo {
        grid-area: 1/2/2/3;
        display: flex; }
        .footer_content_2_bottom_logo a {
          display: flex;
          justify-content: flex-end; }
          .footer_content_2_bottom_logo a img {
            width: 40%; }

.header_section_header {
  font-family: 'Recursive', sans-serif;
  font-size: 3.3rem;
  line-height: 1.1;
  align-self: center;
  padding: 1rem; }

.header_section_para {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem; }
  .header_section_para_text {
    align-self: start;
    line-height: 1.6; }
  .header_section_para_btn {
    margin-top: 3rem;
    margin-right: 15rem; }

.header_section_img {
  left: -14rem;
  position: relative;
  z-index: -1;
  height: 45vh;
  display: block;
  background-color: #1775FC; }
  .header_section_img img {
    height: 100%; }
  .header_section_img:after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -2;
    display: block;
    width: 51vw;
    height: 100%;
    background-color: #1775FC; }

.header_section_blue {
  display: block;
  background-color: #1775FC; }

.nav_section {
  background: #ffffff;
  width: 50%;
  margin: auto;
  min-height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav_section_image {
    height: 10%;
    width: 15%;
    cursor: pointer; }
  .nav_section_ul {
    font-size: 1.7rem; }
    .nav_section_ul li {
      list-style: none; }
      .nav_section_ul li a {
        text-decoration: none;
        color: #03314B; }
        .nav_section_ul li a:hover::after {
          content: "";
          background-color: #2CDE80;
          display: block;
          bottom: -3rem;
          width: 100%;
          height: .2rem; }

.header_section {
  min-height: 45vh;
  display: grid;
  grid-template-columns: 25% 1fr 1fr 12.5%;
  grid-template-rows: 1fr 1fr; }
  .header_section_header {
    position: relative;
    grid-area: 1/2/2/3; }
  .header_section_para {
    position: relative;
    grid-area: 2/2/3/3; }
  .header_section_img {
    grid-area: 1/3/3/4; }
  .header_section_blue {
    grid-area: 1/4/3/5; }

.feature_section {
  display: flex;
  justify-self: center;
  min-height: 45vh;
  background: #F1F6F4;
  position: relative; }
  .feature_section_content {
    display: grid;
    width: 50%;
    min-height: 50vh;
    margin: auto; }
    .feature_section_content_header {
      display: flex;
      justify-content: center; }
    .feature_section_content_para {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; }

.offer_section {
  display: flex;
  min-height: 47vh;
  width: 50%;
  margin: auto; }
  .offer_section_content {
    display: grid;
    grid-template-rows: 1fr 2fr; }
    .offer_section_content_header {
      display: flex;
      justify-content: center; }
    .offer_section_content_info {
      display: flex;
      flex-direction: column; }
      .offer_section_content_info_timeline {
        display: flex; }
      .offer_section_content_info_details {
        display: flex;
        justify-content: space-between; }

.slider_section {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  background: #F1F6F4; }
  .slider_section_content {
    grid-area: 1/2/2/3;
    display: flex;
    align-content: center;
    flex-direction: column; }
    .slider_section_content_title {
      display: flex;
      justify-content: space-between; }
    .slider_section_content_slider {
      display: flex; }

.ad_section {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  justify-self: center;
  min-height: 30vh;
  background: #D7E9FF; }
  .ad_section_content {
    grid-area: 1/2/2/3;
    margin: auto;
    display: flex;
    flex-direction: column; }
