.slider_section {
    padding-top: 5rem;

    &_content_title {
        &_header {
            font-family: 'Recursive', sans-serif;
            font-size: 3.3rem;
            line-height: 1.1;
            align-self: flex-start;
            flex: 1;

            &_content {
                margin-bottom: 4rem;
            }

            &::after {
                content: "";
                display: block;
                width: 6.25rem;
                height: .325rem;
                background: $color_green_light;
            }
        }

        &_para {
            flex: 1;
            font-size: 2rem;
            font-weight: 300;
            padding-left: 1rem;
        }
    }
}
.slider_div {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    margin-top: 5rem;

    &_topics {

    }

    &_header {
        font-size: 1.9rem;
        font-weight: 700;
        margin-bottom: 1.9rem;

        & span {
            color: $color_green_light;
        }
    }

    &_cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 3rem;
    }
}