.header_section {

    &_header {
        font-family: 'Recursive', sans-serif;
        font-size: 3.3rem;
        line-height: 1.1;
        align-self: center;
    }
    &_para {
        display: flex;
        flex-direction: column;
        font-size: 2rem;

        &_text {
            align-self: start;
            line-height: 1.6;
        }

        &_btn {
            margin-top: 3rem;
            margin-right: 15rem;
        }
    }
}